@import "tailwindcss";

@theme {

    --color-white-yellow: #FFFCF8;
    --color-white-item: #EFEFEF;
    --color-white: #FFFFFF;
    --color-terracota: #CC4E00;
    --color-red-light: #EB3223;
    --color-red: #F10707;
    --color-peach: #FFC099;
    --color-orange: #FF8133;
    --color-yellow-light: #FFF9E3;
    --color-gray-light: #D9D9D9;
    --color-gray: #B5B5B5;
    --color-orange-dark: #FF6200;
    --color-brown-dark: #662700;
    --color-yellow-cream: #FFF1BA;
    --color-default: #FFAB77;
    --color-black: #000000;
    
}
